{% extends 'layout.html' %}
{% block content %}
<form method="post">
    <p>
        <input type="text" name="name" placeholder="Lobby Name">
    </p>
   <p>
    <input type="hidden" name="id" value="{{id}}">
    <label for="free-tile">Generate Free Tile</label>
    <input type="checkbox" id="free-tile" name="freetile" value="True">
   </p>
    <p>
        <label for="range">Board Size</label>
        <input id="range" type="range" min="4" max="8" value="5" id="size" name="range" oninput="this.nextElementSibling.value = this.value">
        <output>5</output>
    </p>

    <hr>

    {% for tileset in server.DataStore.TileSets.values() %}
        <label for="{{tileset.name}}-en">{{tileset.name}}</label>
        <input type="checkbox" id="{{tileset.name}}-en" name="{{tileset.name}}-en" value="True">
    {% endfor %}
    
    <hr>

    <input type="submit" value="Create Lobby">
</form>

{% endblock %}