{% extends 'layout.html' %}
{% block content %}
<div class="gary">
  <span><b>B</b></span
  ><span><b>I</b></span
  ><span><b>N</b></span
  ><span><b>G</b></span>
  <span><b>O</b></span>
</div>

<form method="post">
  <label for="playername">Set Name:</label>
  <input type="text" name="playername" placeholder="Gary"></input>
</form>
<div id="other_boards"></div>

<div class="game-container">
  <div class="game" id="game_cells">
    {% for row in board.contents %} {% for tile in row %}
    <div id="{{tile.id}}" class="game-cell" onclick="selected(this)">
      {{tile.contents}}
    </div>
    {% endfor%} {% endfor %}
  </div>
</div>

{% endblock %}

