{% extends 'layout.html' %}
{% block content %}

<div class="content-wrapper">
    <div class="game-description">
        <p>Welcome to Our Game! A fun reaction BINGO </p>
        <P>Make sure you pay attention to your class!</P>
    </div>

    <div class=" Creat-button">
        <a class="join-link" href="/create">Create Lobby</a>
    </div>
    <div class="Tiles-button">
        <a class="join-link" href="/tiles">Add Tiles</a>
    </div>

    <div class="lobby-container">
        {% for lobby in server.lobbies.values() %}
        <div class="lobby-list">
            <h2>{{lobby.name}}</h2>
            <h2 class="item-spacer"> | </h2>
            <h2 class="players-item">Players: {{lobby.players|length}}</h2>
            <h2 class="item-spacer"> | </h2>
            <a class="join-link" href="/lobby/{{lobby.id}}/{{sid}}">Join</a>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}